.butao{
    margin-left: 290px;
  }



.btn{
    background-color: #fff;
    border:1px solid rgb(228, 228, 228);
    color: #000;
    padding-left: 45px;
    padding-right: 45px;
    margin-right: 70px;
    border-radius: 3px;
}




.btn:hover{
    background-color: #0085a1;
    border-color:#0085a1;
    color: #fff;
}



.titulo{
    font-size: 25px;
    font-weight: bold;
  }


  
.Descricao{
    font-size: 25px;
}